<% if(message != "") {  %>
   <section id="message">
       <p><%= message %></p> <span id="close">&times;</span>
   </section>
 <% } %>
<header>
   <a href="/"><img src="/img/pokemon-logo.png" alt=""></a> 
</header>