<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" type="imagex/png" href="/img/pokebola-icon.ico">
    <title>Cadastro</title>
</head>
<body>

    <%- include('./partials/header.ejs') %> 
    <%- include('./partials/nav.ejs') %> 
    <main>
        <form method="post" action="/cadastro">
            <fieldset id="field_main">
                <legend> Cadastre seu Pokemon </legend>
                <fieldset>
                    <label for="nome"> Nome </label>
                    <input type="text" name="nome" required>
                </fieldset>

                <fieldset>
                    <label for="descricao"> Descrição </label>
                    <input type="text" name="descricao" required>
                </fieldset>

                <fieldset>
                    <label for="tipo"> Tipo </label>
                    <input type="text" name="tipo"  required>
                </fieldset>

                <fieldset>
                    <label for="img"> Imagem(URL) </label>
                    <input type="url" name="img" required>
                </fieldset>

                <fieldset>
                    <label for="categoria"> Categoria </label>
                    <input type="text" name="categoria"required>
                </fieldset>

                <fieldset>
                    <label for="habilidade"> Habilidade </label>
                    <input type="text" name="habilidade"required>
                </fieldset>

                <fieldset>
                    <label for="altura"> Altura </label>
                    <input type="text" name="altura" required>
                </fieldset>
                
                <fieldset>
                    <label for="peso"> Peso </label>
                    <input type="text" name="peso" required>
                </fieldset>
                
                <button type="submit"> Enviar </button>
            </fieldset>
        </form>
    </main>
    <%- include("./partials/footer.ejs") %> 
</body>
<script src="/js/script.js"> </script>
</html>